.siteproper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: -30px;
}

.sitename {
    font-family: varela;
    font-size: 80px;
    color: #FF5757;
    height: 100px;
    width: 15%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.siteoptions {
    font-family: varela;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 85%;
    border-radius: 30px;
    border: 3px solid #DD4343;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

.home {
    width: 20%;
    margin-left: 20px;
}

.homebtn {
    font-size: 20px;
    background-color: #E49E9E;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #DD4343;
}

.profile {
    width: 20%;
}

.profilebtn {
    font-size: 20px;
    background-color: #E49E9E;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #DD4343;
}

.search {
    font-family: varela;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin-left: 50px;
}

.searchbuttonimage {
    margin-left: auto;
}

.searchbtn {
    font-family: varela;
    background-color: #E49E9E;
    border-radius: 20px;
    margin-left: 20px;
    width: auto;
}

.searcheditem {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

.searchheader {
    font-family: varela;
    background-color: #F0F0E2;
    border: 3px solid #CDCDCD;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100;
    column-gap: 20px;
    border-radius: 30px;
    justify-content: center; 
    align-items: center; 
    margin-top: 12px;
}

.profilecontainer {
    background-color: #FFBD59;
    width: 95%;
    height: auto; 
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #FF7A00;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#searchcontainer {
    margin-top: 20px; 
    align-self: flex-start;
}

.post {
    font-family: varela;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 3px solid #CDCDCD;
    background-color: #FFFFFF;
}

.tag {
    margin-left: 10px;
}

#tagsoption {
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 9px;
}
 
