.siteproper{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.header{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: -30px;
}

.sitename{
    font-family: varela;
    font-size: 80px;
    color: #FF5757;
    height: 100px;
    width: 15%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.siteoptions{
    font-family: varela;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 85%;
    border-radius: 30px;
    border: 3px solid #DD4343;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

.home{
    width: 20%;
    margin-left: 20px;
}

.homebtn{
    font-size: 20px;
    background-color: #E49E9E;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #DD4343;   
}

.profile{
    width: 20%;
}

.profilebtn{
    font-size: 20px;
    background-color: #E49E9E;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #DD4343;
}

.optionb{
    width: 20%;
}

.optionbtn{
    font-size: 20px;
    background-color: #E49E9E;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #DD4343;
}

.search{
    font-family: varela;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin-left: 50px;
}

.searchbuttonimage{
    width: 10%;
}
.searchbtn {
    font-family: varela;
    background-color: #E49E9E;
    border-radius: 20px;
    margin-left: 10px;
}

.searcheditem {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }

#searchcontainer {
    margin: 20px;
  }  

.profilecontainer {
    background-color: #FFBD59;
    width: 95%;
    height: 630px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #FF7A00; 
    display: flex;
}

.post {
    padding: 10px;
    margin-bottom: 10px;
}

.tag {
    margin-left: 10px;
}

#tagsoption {
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 9px;
}