<div id="page-container">
            <div id="header">
                <button onclick="Home()" id="home-button" class="selected">HOME</button>
                <button onclick="Profile()" id="profile-button" class="unselected">PROFILE</button>

                <div id="searchbar-container">
                    <input type="text" class="searchbar-input" name="search-input" placeholder="Search...">
                    <button class="search-button">
                        <img src="../../images/search.png">
                    </button>
                </div>  
            </div>

            <div id="content">
                <div id="post-container">

                    <div id="post-title">
                        New post
                    </div>

                    <textarea id="post-title-box" placeholder="Your Post Title" rows="3"></textarea>

                    <textarea id="post-content-box" placeholder="What do you wanna share?" rows="10"></textarea>

                    <div id="post-footer">
                        <button onclick="BackToPrevPage()" id="post-back-button">Go back</button>
                        <button onclick="PostPost()" id="post-post-button">Post</button>
                    </div>

                </div>
            </div>
        </div>

        <script>
            function BackToPrevPage(){
                window.location.href = "/post/{{post.id}}"; //make this something that goes back to wherever we were before
            }

            function PostPost(){
                window.location.href = "/profile";
            }

            function Home(){
                window.location.href = "/home/{{activeuser}}"
            }

            function Profile(){
                window.location.href = "/profile"
            }
        </script>