<div id="page-container">
            <div id="header">
                <button onclick="Home()" id="home-button" class="selected">HOME</button>
                <button onclick="Profile()" id="profile-button" class="unselected">PROFILE</button>

                <div id="searchbar-container">
                    <input type="text" class="searchbar-input" name="search-input" placeholder="Search...">
                    <button class="search-button">
                        <img src="../../images/search.png">
                    </button>
                </div>  
            </div>

            <div id="content">
                <div id="post-container">

                    <div id="post-title">
                        New post
                    </div>

                    <textarea id="post-title-box" placeholder="Your Post Title" rows="3"></textarea>

                    <textarea id="post-content-box" placeholder="What do you wanna share?" rows="10"></textarea>

                    <div id="post-footer">
                        <button onclick="BackToPrevPage()" id="post-back-button">Go back</button>
                        <button onclick="PostPost()" id="post-post-button">Post</button>
                    </div>

                </div>
            </div>
        </div>

        <script>
            function BackToPrevPage(){
                window.history.back();
            }

            function PostPost(){ //CRUD
                const id = {{newid}};
                const authorid = "{{activeuser._id}}";
                const title = document.getElementById("post-title-box").value;
                const content = document.getElementById("post-content-box").value;
                const timecreated = new Date();
                const timestamp = "";
                const isEdited = false;
                const likecount = 0;
                const likespositive = true;
                const comments = [];
                const isReply = false;
                const isAuthor = false;

                const newPost = {
                    id: id,
                    authorid: authorid,
                    title: title,
                    content: content,
                    timecreated: timecreated,
                    timestamp: timestamp,
                    isEdited: isEdited,
                    likecount: likecount,
                    likespositive: likespositive,
                    comments: comments,
                    isReply: isReply,
                    isAuthor: isAuthor
                }
                
                fetch("/createpost", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(newPost)
                });

                window.location.href = "/profile"
            }

            function Home(){
                window.location.href = "/home/{{activeuser.authorusername}}"
            }

            function Profile(){
                window.location.href = "/profile"
            }
        </script>