{{!-- <script src="post-and-reply.js"></script> --}}

        <div id="page-container">
            <div id="header">
                <button onclick="Home()" id="home-button" class="selected">HOME</button>
                <button onclick="Profile()" id="profile-button" class="unselected">PROFILE</button>

                <div id="searchbar-container">
                    <input type="text" class="searchbar-input" name="search-input" placeholder="Search...">
                    <button class="search-button">
                        <img src="../../images/search.png">
                    </button>
                </div>  
            </div>

            <div id="content">
                <div id="reply-container">

                    <div id="reply-title">
                        Make a comment
                    </div>

                    <textarea id="reply-content-box" placeholder="What do you wanna share?" rows="10"></textarea>

                    <div id="post-footer">
                        <button onclick="BackToPost()" id="reply-back-button">Go back</button>
                        <button onclick="PostComment()" id="post-reply-button">Post</button>
                    </div>

                </div>
            </div>
        </div>

        <script>
            function BackToPost(){
                window.history.back();
            }

            function PostComment(){
                //CRUD
                window.history.back();
            }

            function Home(){
                window.location.href = "/home/{{activeuser}}"
            }

            function Profile(){
                window.location.href = "/profile"
            }
        </script>